.pokemon {
  display: grid;
  grid-template-columns: 1fr 4fr auto;
  align-items: start;
  gap: 0.5em;
  padding: 1.5em;
  border-radius: 0.5em;
  border: 1px solid transparent;
  background-color: #1a1a1a;

  &::selection {
    color: black;
    background-color: aquamarine;
  }
}
.pokemonName {
  color: aquamarine;
  text-transform: capitalize;
}

.actions {
  justify-self: end;
  display: flex;
  gap: 0.5em;
}

.editButton,
.deleteButton {
  background-color: #242424;
}
